*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 80%;
  margin: 1em 10%;
  background-color: #fffddd;
}
h1{
  color: #136cb0;
  font-size: clamp(1.5em, 5vw, 2em);
}
h2{
  background: #0a69c2;
  color: #fff;
  font-size: clamp(1em, 4vw, 1.4em);
  border-radius: 0.2em;
  padding: 0.25em 0;
}
.head{
  display: flex;
  flex-flow: row;
}
.sign{
  flex: 40%;
  margin: 30px 5% 30px 0;
}
.sign p{
  font-size: clamp(0.5em, 3vw, 1em);
  margin: 0.6em 10%;
  color: rgb(89, 85, 85);
}
.sign p .telaMenor{
  display: none;
}
.imc{
  flex: 40%;
  margin: 30px 0 30px 5%;
}
.imc p{
  margin: 0.6em 10%;
  color: rgb(89, 85, 85);
}
header > p{
  margin: 0 10px 10px 10px;
  color: rgb(89, 85, 85);
}
.aviso{
  margin: 5px;
}
main{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 21.8em;
  margin: 0 10%;
}
.dados{
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  width: 34em;
  height: 9em;
  justify-content: center;
  align-items: center;
  top: 47%;
}
.dados div{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex: 100%;
  position: relative;
}
.altura{
  flex: 40%;
  margin: 0 0 0 10%;
}
.peso{
  flex: 40%;
  margin: 0 10% 0 0;
}
.altura label, .peso label {
  position: absolute;
  color: #136cb0;
  font-size: 0.9em;
  margin: 2px;
  bottom: 100%;
}
#a, #p{
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: 1.5px solid #0a69c2;
  outline: none;
  padding: 0 0 0 5px;
}
#submit{
  font-size: 1.1em;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin: -40px 30px 0 0;
  color: #fff;
  background: #01519b;
  border: none;
}
#submit:hover{
  cursor: pointer;
  background: #0a69c2;
}
#clear{
  font-size: 1.1em;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin: -40px 0 0 30px;
  color: #fff;
  background: #ff7700;
  border: none;
}
#clear:hover{
  cursor: pointer;
  background: #f48320;
}
.topoTabela{
  flex: 60%;
  margin: 18% 20% 0;
  background: #0a69c2;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 0;
}
#result_calc1 th{
  color: #136cb0;
  width: 200px;
  height: 30px;
  border-bottom: 1px solid rgb(171, 171, 171);
}
table tr td{
  border-bottom: 1px solid rgb(171, 171, 171);
  padding: 2px;
}
#resultado{
  height: 3em;
  width: 28em;
  margin: 1.5% 30%;
  text-align: left;
  background: #ff7700;
  border-radius: 1em;
}
#resultado p{
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  margin: 0 10%;
  padding: 0.3em 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  appearance: none; 
  margin: 0; 
}



















